/* Map-Item.module.css */

.map-item {
  position: relative;
}

.hovered {
  z-index: 1;
}

.popupinfo {
  position: absolute;
  float: center;
  left: -7vh;
  overflow: hidden;
  /* top: -25vh; */
  color: white;
}

.image {
  align-items: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: fill;
  height: 100px;
  padding: 2px;
  background-color: white;

  color: white;
}

.pin {
  background-color: rgb(16 185 129);
  color: white;
  width: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
