/* Map-Item.module.css */

.map-item {
  position: relative;
}

.hovered {
  z-index: 1;
}

.popupinfo {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  left: -5vh;
  width: auto;
  height: auto;
  border: 2px solid rgb(81, 255, 95);
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 2px;
}

.image {
  position: relative;
  border: 2px solid rgb(81, 255, 95);
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: 2px;
  margin-top: 6px;
}

.labels {
  margin: 3px;
}
